 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!--hr class="star-light"-->
                    <p>Connor Riley graduated from the University of Connecticut 
                    in 2016 with a degree in Computer Science and Engineering. 
                    He is now a PhD student at the University of Michigan working 
                    with Pascal Van Hentenryck. Connor's research interests 
                    include opitimization, programming languages, and security.
                </div>
            </div>
        </div>
    </section>
