 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Connor Riley graduated from the University of Connecticut 
                    in 2016 with a degree in Computer Science and Engineering. 
                    He is now a PhD student at the University of Michigan working 
                    with Pascal Van Hentenryck.</p>
                </div>
                <div class="col-lg-4">
                    <p>Connor's research interests include opitimization, 
                    programming languages, and security. In his he enjoys
                    critiquing music, film and television.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
